*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
header > nav#menu.principal{
    order: 1;
}
header > nav#buscador{
    order: 2;
}

header > picture > img#logo{
    width: 6.3rem;
    height: auto;
}
header > nav#compra{
    order: 4;
}
header > nav#buscador > ul > li {
    list-style: none;
}
header > nav#buscador > ul > li > a{
    color: black;
}
header > nav#compra > ul > li {
    list-style: none;
}
header > nav#compra > ul > li > a{
    color: black;
}
/*PARA QUE LA IMAGEN SE ADAPTE AL TAMAÑO DE LOS DEMAS*/
header > picture{
    flex: 0 40%;
    order: 3;
}

/****MENU DESPLEGABLE****/
header > nav#menu-principal{
    display: flex;
    flex-direction: row;
}

header > nav#menu-principal > input{
    display:none ;
}

header > nav#menu-principal > input#menu-hamburger:checked + ul#menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    list-style: none;
}

ul#menu{
    display: none;
}

ul#menu > li > a{
    color: black;
    text-decoration: none;
}













/*CONTENIDO*/
main{
    display: flex;
    flex-flow: row wrap;
}

main > article.item{
    display: flex;
    flex-direction: column;
    flex: 0 50%; 
    align-items: center;
    padding: .5rem;
}

main > article.item > :nth-child(3){ order: -1; }

main  img{
    height: auto;
    width: 100%;
}


main > article.item > a{
    color: black;
    text-decoration: none;
}



















/*PIE DE PÁGINA*/
footer{
    padding: .5rem;
}
footer > nav > ul > li {
    list-style: none;
}

footer > nav > ul > li > a{
    text-decoration: none;
    color: black;
}

footer > nav#menu-adicional > ul > li{
    border-bottom: solid grey 1px;
    padding: 5px;
    font-size: 10px;
}

footer > nav#iconos-sociales > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > nav#iconos-sociales > ul > li{
    padding: .5rem;
}